header{
    height: 100vh;
}

.conteudo-titulo-header{
    margin-top: 100px;
    max-width: 500px;

}

.titulo-sobre-mim{
    font-size: 2em;
}

.texto-sobre-mim{
    
    min-width: 200px;
    max-width: 700px;
}

.sobre-mim{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    height: 500px;
}


.projetos{
    margin-top: 100px;
    height: 600px;
    display: flex;
    flex-direction: column;

}

.carousel-img{
    width: 100%;
}

.modal-content{
    height: 600px;
    width: 60% !important;
}

.modal-header{
   height: 50%;
   
}

.carousel-container{
    margin: auto;
    width: 50%;
}


.modal-content img{
    width: 500px !important;
    height: 300px;
}

