*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face{
    font-family: "horizon";
    src: url(../fontes/Horizon.otf) format("opentype");
    font-style: normal;
}

@font-face{
    font-family: "questrial";
    src: url(../fontes/Questrial-Regular.ttf) format("trueType");
    font-style: normal;
}

@font-face{
    font-family: "anton";
    src: url(../fontes/Anton-Regular.ttf) format("trueType");
    font-style: normal;
}

header{
    width: 100%;
    height: 100%;
    position: relative;
}

.container-video-back-ground{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.video-back-ground{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.container-titulo-header{
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding: 20px;
}

.conteudo-titulo-header{
    margin-top: 20px;
    text-align: center;
    
}

.titulo-header{
    margin-bottom: 10px;
    font-family: 'horizon';
    font-size: clamp(1rem, 4vw, 3rem);
    color: black;
}

.texto-destaque{
    color: #ffbb00;
}

.botoes-header{
    margin-top: 20px;
}

.botoes{
    width: 200px;
    height: 60px;
    color: white;
    padding: 10px;
    background: linear-gradient(black, black) padding-box,
              linear-gradient(to right, #55e8a8, #00858e) border-box;
    border-radius: 10px;
    border: 2px solid transparent;
    margin-bottom: 10px;
    margin-right: 10px;
    font-family: 'horizon';
    font-size: 10px;
}

.font-questrial{
    font-family: 'questrial';
}

.font-horizon{
    font-family: 'horizon';
    font-size: clamp(1rem, 4vw, 3rem);
}

.sobre-mim{
    background-color: black;
    color: white;
    text-align: left;
    padding: 30px;
    padding-top: 50px;
}

.p-sobre-mim{
    text-align: left;
}

#btn-fale-comigo{
    width: 200px;
    margin-left: 10px;
}

.meus-servicos{
    padding: 20px;
    text-align: center;
}

.card-servicos{
    background-image: url(../img/fundoServicos.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 30px;
    color: white;
    width: 250px;
    height: 250px;
    margin: auto;
}

.titulo-cards-servico{
    font-size: 15px;
    font-family: 'anton';
}

.p-cards-servico{
    font-family: 'questrial';
    text-align: left;
    font-size: clamp(0.7rem, 2.5vw, 1.5rem);
    margin: 0px 35px 0px 35px;
}


.img-card-servico{
    width: 25px;
    margin-right: 10px;
}

.projetos{
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(180deg, #CBCBCA, white, white)
}


