*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face{
    font-family: "horizon";
    src: url(../fontes/Horizon.otf) format("opentype");
    font-style: normal;
}

@font-face{
    font-family: "questrial";
    src: url(../fontes/Questrial-Regular.ttf) format("trueType");
    font-style: normal;
}

@font-face{
    font-family: "anton";
    src: url(../fontes/Anton-Regular.ttf) format("trueType");
    font-style: normal;
}

header{
    width: 100%;
    height: 60vh;
    position: relative;
    overflow: hidden;
}

.container-video-back-ground{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.video-back-ground{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.container-titulo-header{
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding: 20px;
}

.conteudo-titulo-header{
    margin-top: 20px;
    text-align: center;
    
}

.titulo-header{
    margin-bottom: 10px;
    font-family: 'horizon';
    font-size: clamp(1rem, 4vw, 2rem);
    color: black;
}

.texto-destaque{
    color: #ffbb00;
}

.botoes-header{
    margin-top: 20px;
}

.botoes{
    width: 200px;
    height: 60px;
    color: white;
    padding: 10px;
    background: linear-gradient(black, black) padding-box,
              linear-gradient(to right, #55e8a8, #00858e) border-box;
    border-radius: 10px;
    border: 2px solid transparent;
    margin-bottom: 10px;
    margin-right: 10px;
    font-family: 'horizon';
    font-size: 10px;

    position: relative;
    overflow: hidden;
}


.botoes::after {
    content: "";
    position: absolute;
    width: 180px;
    height: 180px;
    background: radial-gradient(
        circle,
        rgba(85, 232, 168, 0.35),
        transparent 65%
    );
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.25s ease;
    pointer-events: none;
}

.botoes:hover::after {
    opacity: 1;
}



.font-questrial{
    font-family: 'questrial';
}

.font-horizon{
    font-family: 'horizon';
    font-size: clamp(1rem, 4vw, 2rem);
}

.sobre-mim{
    background-color: black;
    color: white;
    text-align: left;
    padding: 30px;
    padding-top: 50px;
}

.p-sobre-mim{
    text-align: left;
}

#btn-fale-comigo{
    width: 200px;
    margin-left: 10px;
}

.meus-servicos{
    padding: 20px;
    text-align: center;
    margin-top: -90px;
    min-height: 800px;
    

}

.container-card-servicos{
    padding: 20px 50px 0px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.fade-in {
  opacity: 0;
  transition: opacity 2s ease;
}

.fade-in.show {
  opacity: 1;
}

.card-servicos{
    background-image: url(../img/fundoServicos.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 30px;
    color: white;
    height: auto;
    max-width: 500px;

    position: relative;
    overflow: hidden;

}

.titulo-cards-servico{
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-family: 'anton';
}

.p-cards-servico{
    font-family: 'questrial';
    text-align: left;
    font-size: clamp(0.7rem, 2.5vw, 1.5rem);

}

.lista-card-sistemas{
    font-size: clamp(0.7rem, 2.5vw, 1.5rem);
    text-align: left;
}


.img-card-servico{
    width: 25px;
    margin-right: 10px;
}

.projetos{
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(180deg, #CBCBCA, white, white);
    height: 450px;
}


.carousel-container {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: auto;
    display: flex;
    align-items: center;
}

.carousel-viewport {
    overflow: hidden;
    width: 100%;
}

.carousel-track {
    display: flex;
    transition: transform 1s ease;
}

.carousel-track img {
    max-width: 100%;
    flex-shrink: 0;
    border-radius: 10px;
}

.carousel-btn {
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    padding: 10px;
}

.carousel-img{
    width: 1000px;
}


.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.85);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    padding: 10px;
}

.modal-overlay.active {
    display: flex;
}

.modal-content {
    background-color: black !important;
    color: black!important;
    overflow-y: auto;
    border-radius: 8px !important; 
    position: relative;
    animation: scaleIn 0.3s ease;
    box-shadow: 0 0 40px rgba(0,0,0,0.8);
}

.modal-header {
    height: 220px;       
    overflow: hidden;
    border-radius: 12px;
    justify-content: center;
}

.modal-body{
    margin: 0px 20px 0px 20px;
}


#modal-img {
    width: 100%;
    height: 100%;
    object-fit: contain;   
    display: block;
}

#modal-titulo{
    font-family: 'horizon';
    color: #55E8A8;
}

.texto-modal{
    font-family: 'questrial';
    color: white;
}



.modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

@keyframes scaleIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}


#modal-titulo{
    margin-top: 30px;
}

body.modal-open {
    overflow: hidden;
}

#modal-media img,
#modal-media video {
    width: 100%;
    height: 100vh;
}
